:root {
  font-size: 14px;

  --border-c-week: #e5e5e5a7;
  --background-c-week-blue: #ecf5ff;
  --title-c-normal-blue: #409EFF;
  --theme-c-blue: rgb(0, 153, 255);
  --border-c-deep: #e6e6e6;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

p {
  margin-bottom: 0px !important;
}

p,
span {
  white-space: nowrap;
}


button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
}
